<div class="container-fluid wrapper">
    <div class="logo d-flex justify-content-start point" routerLink="/">
        <mat-icon  style="font-size: 30px;" class="mt-3 text-primary">home</mat-icon>  &nbsp; <h2 class="mt-3">Luxury Hotel</h2>
    </div>
    <div class="container">
        <div class="header d-flex justify-content-center">
            <h3>Add new room</h3>
        </div>
        <div class="form-field d-flex justify-content-center">
            <mat-card class="example-card">
            <mat-card-content>
        <form class="example-form" [formGroup]="roomForm" (ngSubmit)="SubmitRoomForm()">
            <mat-form-field class="example-full-width">
              <mat-label>Room name</mat-label>
              <input matInput placeholder="Room 101" formControlName="room">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Cost</mat-label>
              <input matInput placeholder="20000" formControlName="cost">
            </mat-form-field>

            <button type="submit" class="start-btn" [disabled]="roomForm.invalid" mat-button color="primary">Proceed</button>
          </form>
        </mat-card-content>
    </mat-card>
        </div>
        </div>
        </div>
