.wrapper {
    background: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.room-header h3{
    font-size: 30px !important;
    margin-top: 2em;
}

.start-btn {
    background: #4E3995;
    border-radius: 5px;
    color: white !important;
    text-decoration: none;
}

table {
    width: 100%;
  }

  .list-table {
      margin-top: 40px;
  }

.mat-header-cell
{
  font-size: 19px;
  color: white !important;
  background: #4E3995;
  font-weight: bolder;


}
.point{
  cursor: pointer;
}
